<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html>
  <body>
      <p>Начало цикла</p>    
      <p>Г</p>
      <p>л</p>
      <p>а</p>
      <p>в</p>
      <p>н</p>
      <p>а</p>
      <p>я</p>
      <p> </p>
      <p>с</p>
      <p>т</p>
      <p>р</p> 
      <p>а</p>
      <p>н</p>
      <p>и</p>
      <p>ц</p>
      <p>а</p>
      <p>Конец цикла</p>   
  </body>
</html> 
</body>
</html>