<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="px-4 py-2  flex items-center justify-between border-b ">
       <div class="flex items-center gap-2">
         <button class="cursor-pointer"><i class="fa-solid fa-bars"></i></button>
         <h1 class="text-xl"><span class="text-red-400 font-bold">Billi</span>Bi</h1>
       </div>

        <div class="flex items-center gap-2 text-sm">
            <a>Login</a>
            <a class="bg-red-600 px-2 py-1 text-white rounded-lg">Sign up</a>
        </div>
    </header>
    <div class="flex">
        <div class="px-2 py-2 flex flex-col gap-2 text-center text-lg border-r w-64 h-screen">
            <!-- <a href="" class="bg-indigo-500 text-white py-1 px-1.5 rounded">IT - Programming</a>
            <a href="" class="bg-indigo-500 text-white py-1 px-1.5 rounded">Cooking</a>
            <a href="" class="bg-indigo-500 text-white py-1 px-1.5 rounded">Football</a> -->
            <h1 class="text-xl text-left font-bold mb-4">Navigation</h1>
            <div class="flex flex-col gap-2.5">
                <a href="" class="flex items-center gap-1.5 text-sm"><i class="fa-solid fa-home"></i> Home</a>
                <a href="" class="flex items-center gap-1.5 text-sm"><i class="fa-solid fa-fire"></i> Popular</a>
            </div>
    
            <h1 class="text-xl text-left font-bold mb-4 mt-6">Tags</h1>
            <div class="flex flex-col gap-2.5">
                <a href="" class="bg-transparent transtion-all duration-300 px-2 py-1 rounded-sm hover:bg-gray-100 text-left text-sm">IT - Programming</a>
                <a href="" class=" bg-transparent transtion-all duration-300 px-2 py-1 rounded-sm hover:bg-gray-100 text-left text-sm">Football</a>
                <a href="" class="bg-transparent transtion-all  duration-300 px-2 py-1 rounded-sm hover:bg-gray-100 text-left text-sm">Cooking </a>
            </div>
    
    
        </div>

        <div class="grow"> 
            content
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
