<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <form method="post" action="">
        <p><label for="id_name">name:</label>
           <input id="id_name" type="text" name="name" maxlength="200" required></p>
        <p><label for="id_isbn">isbn:</label>
           <input id="id_isbn" type="text" name="isbn" maxlength="100" required></p>
        <p><label for="id_pages">pages:</label>
           <input id="id_pages" type="number" name="pages" required></p>
           {% csrf_token %}
        <input type="submit" value="Отправить">
      </form> 
</form> 
</body>
</html>