{% extends "posts/index.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
<div class="form-box">
  <h2>Create Post</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_title">{{ form.title.label }}</label>
      <input type="text" name="title" id="id_title" value="{{ form.title.value|default_if_none:'' }}">
      {% if form.title.errors %}<p class="error">{{ form.title.errors.0 }}</p>{% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
      {{ form.text }}
      {% if form.text.errors %}<p class="error">{{ form.text.errors.0 }}</p>{% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.group.id_for_label }}">{{ form.group.label }}</label>
      {{ form.group }}
      {% if form.group.errors %}<p class="error">{{ form.group.errors.0 }}</p>{% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.post_image.id_for_label }}">{{ form.post_image.label }}</label>
      {{ form.post_image }}
      {% if form.post_image.errors %}<p class="error">{{ form.post_image.errors.0 }}</p>{% endif %}
    </div>

    <button type="submit" class="submit-btn">Отправить</button>
  </form>
</div>
{% endblock %}
