{% extends 'posts/index.html' %}


{% block content %}
{% for post in page_obj %}
<article class="bg-white p-4 rounded-xl shadow-sm mb-6">
  <div class="flex justify-between items-center mb-2">
    <span class="font-semibold">{{ post.author.get_full_name }}</span>
    <span class="text-gray-500 text-sm">{{ post.pub_date }}</span>
  </div>
  <p class="text-gray-800">{{ post.text }}</p>
  {% if post.author.id == user.id %}
    <a href="{{ post.id }}/edit/">Edit post</a>
  {% endif %}
</article>
{% empty %}
<p>No posts available.</p>
{% endfor %}
{% endblock %}