{% extends 'posts/index.html' %}


{% block content %}
{% for post in page_obj %}
<article class="bg-white p-4 rounded-xl shadow-sm mb-6">
  <div class="flex justify-between items-center mb-2">
    <span class="font-semibold">{{ post.author.get_full_name }}</span>
    <span class="text-gray-500 text-sm">{{ post.pub_date }}</span>
  </div>
  <p class="text-gray-800">{{ post.text }}</p>
  {% if post.author.id == user.id %}
    <a href="{{ post.id }}/edit/">Edit post</a>
  {% endif %}
</article>
{% empty %}
<p>No posts available.</p>
{% endfor %}
{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="my-5">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          Предыдущая
        </a>
      </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
              <li class="page-item active">
                <span class="page-link">{{ i }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
              Следующая
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
              Последняя
            </a>
          </li>
        {% endif %}     
{% endif %}
{% endblock %}